project_id: "69845c59087f707660d8d409"
cluster_name: "mongodb-is-awesome"

date_range:
  start: "2026-02-01"
  end: "2026-02-28"

weekday: 4          # 1=domingo ... 7=sábado
parallel: 6         # número de downloads simultâneos
download_dir: "./atlas_backups"
min_disk_gb: 20     # mínimo de espaço livre exigido
